html{
    background-color: #1b1b1b;
}
.frame-child {
    position: absolute;
    top: -1px;
    left: 0px;
    background-color: #1b1b1b;
    width: 1920px;
    height: 1080px;
}
.frame-item {
    position: absolute;
    top: -1px;
    left: 0px;
    backdrop-filter: blur(150px);
    background-color: rgba(255, 255, 255, 0.02);
    width: 1920px;
    height: 1080px;
}
.rectangle-parent {
    width: 1920px;
    position: absolute;
    margin: 0 !important;
    top: 0px;
    left: 0px;
    height: 1080px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 0;
}
.frame-inner {
    position: absolute;
    top: -1px;
    left: -87px;
    box-shadow: 6px 4px 60.9px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    background-color: rgba(49, 49, 49, 0.47);
    width: 223px;
    height: 1080px;
}
.rectangle-div {
    position: absolute;
    top: 242px;
    left: 35.5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    background-color: #565656;
    width: 61px;
    height: 61px;
}
.frame-child1 {
    position: absolute;
    top: 417px;
    left: 35.5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    background-color: #565656;
    width: 61px;
    height: 61px;
}
.frame-child2 {
    position: absolute;
    top: 590px;
    left: 35.5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    background-color: #565656;
    width: 61px;
    height: 61px;
}
.frame-child3 {
    position: absolute;
    top: 772px;
    left: 35.5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    background-color: #565656;
    width: 61px;
    height: 61px;
}
.home-1-icon {
    position: absolute;
    top: 250px;
    left: 43px;
    width: 47px;
    height: 47px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}
a:hover .home-1-icon{
    opacity:0.6;
}
a:hover::before{
    content: "";
    display: block;
    width: 47px;
    height: 47px;
    background: url('home1-hover.png') no-repeat content/contain;
}
.user-1-icon {
    position: absolute;
    top: 426px;
    left: 47px;
    width: 39.6px;
    height: 47px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}
a:hover .user-1-icon{
    opacity:0.6;
}
a:hover::before{
    content: "";
    display: block;
    width: 47px;
    height: 47px;
    background: url('user1-hover.png') no-repeat content/contain;
}
.info-1-icon {
    position: absolute;
    top: 600px;
    left: 43px;
    width: 47px;
    height: 47px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}
a:hover .info-1-icon{
    opacity:0.6;
}
a:hover::before{
    content: "";
    display: block;
    width: 47px;
    height: 47px;
    background: url('info1-hover.png') no-repeat content/contain;
}
.frame-child4 {
    position: absolute;
    top: 484px;
    left: 66px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    background-color: #585858;
    width: 2px;
    height: 100px;
}
.frame-child5 {
    position: absolute;
    top: 663px;
    left: 66px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    background-color: #585858;
    width: 2px;
    height: 100px;
}
.frame-child6 {
    position: absolute;
    top: 311px;
    left: 66px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    background-color: #585858;
    width: 2px;
    height: 100px;
}
.letter-1-icon {
    position: absolute;
    top: 788px;
    left: 42px;
    width: 49px;
    height: 49px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}
a:hover .letter-1-icon{
    opacity:0.6;
}
a:hover::before{
    content: "";
    display: block;
    width: 47px;
    height: 47px;
    background: url('letter1-hover.png') no-repeat content/contain;
}
.rectangle-group {
    width: 210px;
    position: relative;
    height: 1080px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
}
.frame-child7 {
    position: absolute;
    top: 195px;
    left: 101px;
    box-shadow: -4px 4px 50.3px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: #313131;
    width: 887px;
    height: 690px;
}
.frame-child8 {
    position: absolute;
    top: 118px;
    left: 0px;
    box-shadow: -4px 4px 50.3px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 14px 14px;
    background-color: #565656;
    border: 1px solid #1b1111;
    box-sizing: border-box;
    width: 887px;
    height: 617px;
}
.frame-child9 {
    position: absolute;
    top: 184px;
    left: 42px;
    border-radius: 30px;
    width: 803px;
    height: 477px;
    overflow: hidden;
}
.contact1 {
    position: absolute;
    top: 60px;
    left: 27px;
    letter-spacing: 0.27em;
}
.frame-div {
    position: absolute;
    top: 152px;
    left: 101px;
    border-radius: 14px 14px 0px 0px;
    width: 887px;
    height: 840px;
    overflow: hidden;
}
.rectangle-container {
    width: 1089px;
    position: relative;
    height: 1080px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 2;
}
.contact {
    width: 100%;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    height: 1080px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 205px;
    text-align: left;
    font-size: 32px;
    color: #fff;
    font-family: 'SF Pro Display';
}

@media(max-width: 900px){
    body{
        background-color: #1b1616;
    }
}